body{
    background: #a3ddcb;
}

.prodlinks{
    color: white;
	text-decoration: none;
}

.Banner{	
	position: relative;	
	background: #03506f;
	margin: 140px 260px 150px 300px;
	width: 50%;
	height: 50%;
	color: #ffffff;
	padding: 30px 30px 100px 30px;
	border-radius: 8px;
}

.View-Button{
    position: absolute;
    background: #09394c;
	border: none;
	border-radius: 8px;
	color: #ffffff;
	padding: 15px 8px 15px 8px;
	width: 20%;
	text-align: center;
	top: 218px;
	right: 275px;
}

.list{
    
    display: flex;
	align-items: center;
	flex-direction: row;
	background: #03506f;
	margin: 40px 440px 150px 450px;
	color: #ffffff;
	padding: 10px;
	border-radius: 8px;
}

.button{
    position: relative;
    background: #09394c;
	border: none;
	border-radius: 8px;
	color: #ffffff;
	padding: 15px 8px 15px 30px;
	width: 97.5%;
	margin: 10px;
	text-align: center;
}

a:hover{
    background-color:#a3dce2;
    color:white;
}

a:active{
    background-color:#000;
    color:white;
}

.dropdown:hover .dropdown-menu {
    display: block;
	margin: 0;
}

.Product-table{
    position: relative; 
    background: #03506f;
    margin: 140px 260px 150px 300px;
    width: 50%;
    height: 50%;
    color: #ffffff;
    padding: 30px 30px 50px 30px;
    border-radius: 8px;
}



#prodAlert{
    position:fixed;
    top: 10px;
	left: 50px;
}

th{
    text-align: center;
	vertical-align: middle;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffe3de;
  color: black;
  text-align: center;
}
