{% extends 'session_heading.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product | Online Billing System</title>
	<script type="text/javascript">
			$(document).ready(function(){
					$('#prodbtn').click(function() {
							$('#prodAlert').show('fade');

						    setTimeout(function() {
								$('#prodAlert').hide('fade');
							}, 3000);
					});
			});
	</script>
</head>
<body>
    <div class="Banner">
    <center><h1>Add Product Details</h1></center><br>
    <form method="POST" action="">
    <center>
    <table>
    <div class="form-group">
    {% csrf_token %}
    {{ form.as_table }}
	</div>
    </table>
    </center>
	<br>
	<center><button id="prodbtn" type="submit" class="btn btn-primary">Add Product</button></center><br>
	<center><div id="prodAlert" class="alert alert-primary collapse" role="alert">
		Product is successfully added
    </div></center>
	</div>
</form>
</body>
</html>
{% endblock content %}

