{% extends 'session_heading.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product | Online Billing System</title>
</head>
<body>
    <div class="Banner">
    <center><h1>Edit Product Details</h1></center><br>
    <form method="POST" action="">
    <center>
    <table>
    <div class="form-group">
    {% csrf_token %}
    {{ form.as_table }}
	</div>
    </table>
    </center>
	<br>
	<center><button id="prodbtn" type="submit" class="btn btn-primary">Update Details</button></center><br>
	</div>
</form>
</body>
</html>
{% endblock content %}

