{% extends 'session_heading.html' %}
{% load static %}

{% block content %}
<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/session.css' %}">	
	<title>
			Generate Sales Report | Online Billing System
    </title>
</head>
<body>
    <center><div class="Banner">
		<u><h1>Generate Report</h1></u><br>
		<form method="post">
		    {% csrf_token %}
		    {{ form.as_p }}<br>
			<button type="submit" class="btn btn-primary">Create Report</button>
		</form>
    </div></center>
</body>
{% endblock content %}
