{% extends 'heading.html' %}
{% load static %}

{% block content %}
<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">	
    <title>
		    Home | Online Billing System
	</title>
</head>
<body>
    <div class="Banner">
		<u><h1>Online Billing System</h1></u><br>
		<h6>The "Online Billing System" has been developed to override the problems prevailing in
		    the practicing manual system. This software is supported to eliminate and in some
		    cases reduce the hardships faced by this existing system...</h6>
		<br>
		<form action="{% url 'About' %}">
		    <button class="View-Button" type="submit" formaction="{% url 'About' %}">View More....</button>
		</form>
    </div>
</body>
{% endblock content %}
